.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: row;
  color: white;
  justify-content: space-between;
}
.App-header>h1{
  margin: 10px;
}
.Signin-button{
  margin: 10px;
  color: White;
  background-color: #282c34;
  border: 2px solid white;
}
